* {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold!important;
    outline: none!important;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/background.webp);
    background-repeat: repeat;
    background-position: center;
    background-size: 50%;
    background-color: #18171f!important;
    color: #e6e5ea!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2em!important;
    padding: 2em 0em 0em 0em;
    margin: 0em;
    width: 98vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

body::-moz-scrollbar {
    display: none;
}

.blue {
    color: #82c7ff;
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down {
    background-color: #18171f00;
    color: #e6e5ea;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.drop-down:hover {
    background-color: #18171f00;
}

.dropdown-menu.show {
    background-color: #18171f;
    color: #e6e5ea;
    border: 1px solid #e6e5ea;
}

.drop-down-options {
    /* background-color: #e6e5ea; */
    color: #18171f;
    border: 0px;
    justify-content: left;
}

.list {
    width: 8em;
    margin: 0em;
    display: inline-block;
    margin-left: 1em;
}

a,
.list>a {
    color: #e6e5ea;
    text-decoration: none!important;
    margin: 0.5em 0.3em!important;
    /* width: fit-content; */
}

.icon {
    margin-right: 0.5em!important;
}

row {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
}

column {
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 0em;
    row-gap: 0em;
    width: 100%;
}

.button {
    color: #82c7ff;
    background-color: #18171f;
    width: 2em;
    height: 2em;
    border: 2px solid #82c7ff;
    /* border-radius: 15px; */
    font-size: 1.5em;
    /* margin-left: auto; */
    /* margin-top: 2em; */
    /* padding: 0.4em; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    color: #82c7ff;
    background-color: #18171f;
    width: 8em;
    height: 2em;
    border: 2px solid #82c7ff;
    /* border-radius: 15px; */
    font-size: 1.5em;
    /* margin-left: auto; */
    /* margin-top: 2em; */
    padding: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    background-color: #82c7ff;
    color: #18171f;
}

.center {
    width: 100%;
    text-align: center;
}

#board {
    width: 50vmin;
    height: 50vmin;
    /* background-color: #82c7ff; */
}

#score {
    margin-left: 0.5em;
}

.instructions {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 20;
}

.again {
    background-color: #18171f;
    color: #fff;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto!important;
    margin-right: auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 770px) {
    #board {
        width: 80vmin;
        height: 80vmin;
    }
    .instructions {
        display: none;
    }
}